body {
  font-family: system-ui;
  background: #f5f7fa;
  padding: 30px;
}

input, button {
  padding: 8px;
  margin: 5px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
